{
  "name": "html.giacongsystem",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/OwlCarousel2-2.3.4/src/scss/_theme.default.scss",
      "imports": [
        "assets/OwlCarousel2-2.3.4/src/scss/_theme.scss"
      ]
    },
    {
      "path": "assets/OwlCarousel2-2.3.4/src/scss/_theme.green.scss",
      "imports": [
        "assets/OwlCarousel2-2.3.4/src/scss/_theme.scss"
      ]
    },
    {
      "path": "assets/OwlCarousel2-2.3.4/src/scss/owl.carousel.scss",
      "imports": [
        "assets/OwlCarousel2-2.3.4/src/scss/_core.scss",
        "assets/OwlCarousel2-2.3.4/src/scss/_animate.scss",
        "assets/OwlCarousel2-2.3.4/src/scss/_autoheight.scss",
        "assets/OwlCarousel2-2.3.4/src/scss/_lazyload.scss",
        "assets/OwlCarousel2-2.3.4/src/scss/_video.scss"
      ]
    },
    {
      "path": "assets/OwlCarousel2-2.3.4/src/scss/owl.theme.default.scss",
      "imports": [
        "assets/OwlCarousel2-2.3.4/src/scss/_theme.default.scss",
        "assets/OwlCarousel2-2.3.4/src/scss/_theme.scss"
      ]
    },
    {
      "path": "assets/OwlCarousel2-2.3.4/src/scss/owl.theme.green.scss",
      "imports": [
        "assets/OwlCarousel2-2.3.4/src/scss/_theme.green.scss",
        "assets/OwlCarousel2-2.3.4/src/scss/_theme.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "settings"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7962,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://html.giacongsystem/"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/domains/cathtmlcss.net/public_html/themes/2019/06/giacongsystem/",
    "uploadTimeout": 5000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "103.74.118.14",
      "port": 21,
      "user": "hailm",
      "password": "123456hy"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "assets/jquery/jquery-3.3.1.js",
        "ctime": "2019-06-23T03:33:04.423Z",
        "mtime": "2019-04-05T07:23:53.000Z",
        "size": 271751
      },
      {
        "file": "assets/jquery/jquery-3.4.1.js",
        "ctime": "2019-06-23T03:33:04.424Z",
        "mtime": "2019-05-20T06:18:35.000Z",
        "size": 398793
      },
      {
        "file": "assets/jquery-ui-1.12.1/jquery-ui.css",
        "ctime": "2019-06-23T03:33:04.453Z",
        "mtime": "2016-09-14T10:34:06.000Z",
        "size": 37326
      },
      {
        "file": "assets/jquery-ui-1.12.1/jquery-ui.js",
        "ctime": "2019-06-23T03:33:04.457Z",
        "mtime": "2016-09-14T10:34:06.000Z",
        "size": 520714
      },
      {
        "file": "assets/jquery-ui-1.12.1/jquery-ui.min.css",
        "ctime": "2019-06-23T03:33:04.443Z",
        "mtime": "2016-09-14T10:34:06.000Z",
        "size": 32076
      },
      {
        "file": "assets/jquery-ui-1.12.1/jquery-ui.min.js",
        "ctime": "2019-06-23T03:33:04.443Z",
        "mtime": "2016-09-14T10:34:06.000Z",
        "size": 253669
      },
      {
        "file": "assets/jquery-ui-1.12.1/jquery-ui.structure.css",
        "ctime": "2019-06-23T03:33:04.456Z",
        "mtime": "2016-09-14T10:34:06.000Z",
        "size": 18705
      },
      {
        "file": "assets/jquery-ui-1.12.1/jquery-ui.structure.min.css",
        "ctime": "2019-06-23T03:33:04.454Z",
        "mtime": "2016-09-14T10:34:06.000Z",
        "size": 15548
      },
      {
        "file": "assets/jquery-ui-1.12.1/jquery-ui.theme.css",
        "ctime": "2019-06-23T03:33:04.446Z",
        "mtime": "2016-09-14T10:34:06.000Z",
        "size": 18671
      },
      {
        "file": "assets/jquery-ui-1.12.1/jquery-ui.theme.min.css",
        "ctime": "2019-06-23T03:33:04.444Z",
        "mtime": "2016-09-14T10:34:06.000Z",
        "size": 13849
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/css/bootstrap-grid.css",
        "ctime": "2019-06-23T03:33:04.350Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 64548
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/css/bootstrap-grid.css.map",
        "ctime": "2019-06-23T03:33:04.345Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 151749
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/css/bootstrap-grid.min.css",
        "ctime": "2019-06-23T03:33:04.346Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 48488
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/css/bootstrap-grid.min.css.map",
        "ctime": "2019-06-23T03:33:04.351Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 108539
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/css/bootstrap-reboot.css",
        "ctime": "2019-06-23T03:33:04.349Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 4897
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/css/bootstrap-reboot.css.map",
        "ctime": "2019-06-23T03:33:04.352Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 76483
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css",
        "ctime": "2019-06-23T03:33:04.348Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 4021
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css.map",
        "ctime": "2019-06-23T03:33:04.343Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 32461
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/css/bootstrap.css",
        "ctime": "2019-06-23T03:33:04.344Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 192348
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/css/bootstrap.css.map",
        "ctime": "2019-06-23T03:33:04.346Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 492048
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/css/bootstrap.min.css",
        "ctime": "2019-06-23T03:33:04.341Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 155758
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/css/bootstrap.min.css.map",
        "ctime": "2019-06-23T03:33:04.347Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 625953
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/js/bootstrap.bundle.js",
        "ctime": "2019-06-23T03:33:04.353Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 222911
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/js/bootstrap.bundle.js.map",
        "ctime": "2019-06-23T03:33:04.355Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 402249
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js",
        "ctime": "2019-06-23T03:33:04.357Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 78635
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js.map",
        "ctime": "2019-06-23T03:33:04.354Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 311949
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/js/bootstrap.js",
        "ctime": "2019-06-23T03:33:04.356Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 131637
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/js/bootstrap.js.map",
        "ctime": "2019-06-23T03:33:04.359Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 250568
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/js/bootstrap.min.js",
        "ctime": "2019-06-23T03:33:04.358Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 58072
      },
      {
        "file": "assets/bootstrap-4.3.1-dist/js/bootstrap.min.js.map",
        "ctime": "2019-06-23T03:33:04.360Z",
        "mtime": "2019-02-13T09:47:50.000Z",
        "size": 190253
      },
      {
        "file": "assets/font-awesome-4.7.0/css/font-awesome.css",
        "ctime": "2019-06-23T03:33:04.390Z",
        "mtime": "2019-04-01T07:38:08.000Z",
        "size": 29714
      },
      {
        "file": "assets/font-awesome-4.7.0/css/font-awesome.css.map",
        "ctime": "2019-06-23T03:33:04.395Z",
        "mtime": "2019-04-01T07:38:07.000Z",
        "size": 19111
      },
      {
        "file": "assets/font-awesome-4.7.0/css/font-awesome.min.css",
        "ctime": "2019-06-23T03:33:04.393Z",
        "mtime": "2018-06-25T04:53:12.000Z",
        "size": 31000
      },
      {
        "file": "assets/font-awesome-4.7.0/css/_mixins.css",
        "ctime": "2019-06-23T03:33:04.391Z",
        "mtime": "2019-03-28T17:49:13.000Z",
        "size": 40
      },
      {
        "file": "assets/font-awesome-4.7.0/css/_mixins.css.map",
        "ctime": "2019-06-23T03:33:04.387Z",
        "mtime": "2019-03-28T17:49:13.000Z",
        "size": 51
      },
      {
        "file": "assets/font-awesome-4.7.0/fonts/fontawesome-webfont.eot",
        "ctime": "2019-06-23T03:33:04.402Z",
        "mtime": "2018-06-25T04:53:10.000Z",
        "size": 165742
      },
      {
        "file": "assets/font-awesome-4.7.0/fonts/fontawesome-webfont.svg",
        "ctime": "2019-06-23T03:33:04.397Z",
        "mtime": "2018-06-25T04:53:10.000Z",
        "size": 444379
      },
      {
        "file": "assets/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf",
        "ctime": "2019-06-23T03:33:04.401Z",
        "mtime": "2018-06-25T04:53:10.000Z",
        "size": 165548
      },
      {
        "file": "assets/font-awesome-4.7.0/fonts/fontawesome-webfont.woff",
        "ctime": "2019-06-23T03:33:04.402Z",
        "mtime": "2018-06-25T04:53:10.000Z",
        "size": 98024
      },
      {
        "file": "assets/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2",
        "ctime": "2019-06-23T03:33:04.399Z",
        "mtime": "2018-06-25T04:53:10.000Z",
        "size": 77160
      },
      {
        "file": "assets/font-awesome-4.7.0/fonts/FontAwesome.otf",
        "ctime": "2019-06-23T03:33:04.399Z",
        "mtime": "2018-06-25T04:53:10.000Z",
        "size": 134808
      },
      {
        "file": "assets/jquery-ui-1.12.1/images/ui-icons_444444_256x240.png",
        "ctime": "2019-06-23T03:33:04.452Z",
        "mtime": "2016-09-14T10:34:06.000Z",
        "size": 7006
      },
      {
        "file": "assets/jquery-ui-1.12.1/images/ui-icons_555555_256x240.png",
        "ctime": "2019-06-23T03:33:04.452Z",
        "mtime": "2016-09-14T10:34:06.000Z",
        "size": 7074
      },
      {
        "file": "assets/jquery-ui-1.12.1/images/ui-icons_777620_256x240.png",
        "ctime": "2019-06-23T03:33:04.450Z",
        "mtime": "2016-09-14T10:34:06.000Z",
        "size": 4676
      },
      {
        "file": "assets/jquery-ui-1.12.1/images/ui-icons_777777_256x240.png",
        "ctime": "2019-06-23T03:33:04.448Z",
        "mtime": "2016-09-14T10:34:06.000Z",
        "size": 7013
      },
      {
        "file": "assets/jquery-ui-1.12.1/images/ui-icons_cc0000_256x240.png",
        "ctime": "2019-06-23T03:33:04.449Z",
        "mtime": "2016-09-14T10:34:06.000Z",
        "size": 4632
      },
      {
        "file": "assets/jquery-ui-1.12.1/images/ui-icons_ffffff_256x240.png",
        "ctime": "2019-06-23T03:33:04.450Z",
        "mtime": "2016-09-14T10:34:06.000Z",
        "size": 6313
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/dist/owl.carousel.js",
        "ctime": "2019-06-23T03:33:04.485Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 89992
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/dist/owl.carousel.min.js",
        "ctime": "2019-06-23T03:33:04.486Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 44342
      },
      {
        "file": "assets/slick-1.8.1/slick/ajax-loader.gif",
        "ctime": "2019-06-23T03:33:04.748Z",
        "mtime": "2017-10-03T17:49:29.000Z",
        "size": 4178
      },
      {
        "file": "assets/slick-1.8.1/slick/slick-theme.css",
        "ctime": "2019-06-23T03:33:04.752Z",
        "mtime": "2019-04-08T04:45:28.000Z",
        "size": 2476
      },
      {
        "file": "assets/slick-1.8.1/slick/slick-theme.css.map",
        "ctime": "2019-06-23T03:33:04.752Z",
        "mtime": "2019-04-08T04:45:28.000Z",
        "size": 1424
      },
      {
        "file": "assets/slick-1.8.1/slick/slick.css",
        "ctime": "2019-06-23T03:33:04.750Z",
        "mtime": "2019-04-01T07:38:07.000Z",
        "size": 1370
      },
      {
        "file": "assets/slick-1.8.1/slick/slick.js",
        "ctime": "2019-06-23T03:33:04.751Z",
        "mtime": "2017-10-03T17:49:29.000Z",
        "size": 88955
      },
      {
        "file": "assets/slick-1.8.1/slick/slick.min.js",
        "ctime": "2019-06-23T03:33:04.760Z",
        "mtime": "2019-04-11T03:53:48.000Z",
        "size": 42867
      },
      {
        "file": "assets/uikit-3.1.6/css/uikit-rtl.css",
        "ctime": "2019-06-23T03:33:04.784Z",
        "mtime": "2019-06-19T02:01:38.000Z",
        "size": 370296
      },
      {
        "file": "assets/uikit-3.1.6/css/uikit-rtl.min.css",
        "ctime": "2019-06-23T03:33:04.781Z",
        "mtime": "2019-06-19T02:01:38.000Z",
        "size": 260955
      },
      {
        "file": "assets/uikit-3.1.6/css/uikit.css",
        "ctime": "2019-06-23T03:33:04.782Z",
        "mtime": "2019-06-19T02:01:30.000Z",
        "size": 370206
      },
      {
        "file": "assets/uikit-3.1.6/css/uikit.min.css",
        "ctime": "2019-06-23T03:33:04.783Z",
        "mtime": "2019-06-19T02:01:30.000Z",
        "size": 260873
      },
      {
        "file": "assets/uikit-3.1.6/js/uikit-icons.js",
        "ctime": "2019-06-23T03:33:04.787Z",
        "mtime": "2019-06-19T02:01:36.000Z",
        "size": 69431
      },
      {
        "file": "assets/uikit-3.1.6/js/uikit-icons.min.js",
        "ctime": "2019-06-23T03:33:04.786Z",
        "mtime": "2019-06-19T02:01:36.000Z",
        "size": 63997
      },
      {
        "file": "assets/uikit-3.1.6/js/uikit.js",
        "ctime": "2019-06-23T03:33:04.788Z",
        "mtime": "2019-06-19T02:01:36.000Z",
        "size": 339756
      },
      {
        "file": "assets/uikit-3.1.6/js/uikit.min.js",
        "ctime": "2019-06-23T03:33:04.789Z",
        "mtime": "2019-06-19T02:01:36.000Z",
        "size": 134250
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/dist/assets/ajax-loader.gif",
        "ctime": "2019-06-23T03:33:04.487Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 3208
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css",
        "ctime": "2019-06-23T03:33:04.499Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 4744
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css",
        "ctime": "2019-06-23T03:33:04.497Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 3351
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.css",
        "ctime": "2019-06-23T03:33:04.498Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 1380
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css",
        "ctime": "2019-06-23T03:33:04.494Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 1013
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/dist/assets/owl.theme.green.css",
        "ctime": "2019-06-23T03:33:04.489Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 1378
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/dist/assets/owl.theme.green.min.css",
        "ctime": "2019-06-23T03:33:04.490Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 1013
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/dist/assets/owl.video.play.png",
        "ctime": "2019-06-23T03:33:04.492Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 4976
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/css/owl.carousel.css",
        "ctime": "2019-06-23T03:33:04.713Z",
        "mtime": "2019-04-08T04:45:28.000Z",
        "size": 3969
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/css/owl.carousel.css.map",
        "ctime": "2019-06-23T03:33:04.711Z",
        "mtime": "2019-04-08T04:45:28.000Z",
        "size": 2038
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/css/owl.theme.green.css",
        "ctime": "2019-06-23T03:33:04.502Z",
        "mtime": "2019-04-08T04:45:28.000Z",
        "size": 1022
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/css/owl.theme.green.css.map",
        "ctime": "2019-06-23T03:33:04.584Z",
        "mtime": "2019-04-08T04:45:28.000Z",
        "size": 662
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/css/_animate.css",
        "ctime": "2019-06-23T03:33:04.666Z",
        "mtime": "2019-03-12T18:45:22.000Z",
        "size": 443
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/css/_animate.css.map",
        "ctime": "2019-06-23T03:33:04.712Z",
        "mtime": "2019-03-12T18:45:21.000Z",
        "size": 317
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/css/_core.css",
        "ctime": "2019-06-23T03:33:04.709Z",
        "mtime": "2019-03-12T18:45:22.000Z",
        "size": 1962
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/css/_core.css.map",
        "ctime": "2019-06-23T03:33:04.708Z",
        "mtime": "2019-03-12T18:45:21.000Z",
        "size": 1024
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/css/_theme.default.css",
        "ctime": "2019-06-23T03:33:04.714Z",
        "mtime": "2018-12-12T15:24:37.000Z",
        "size": 1021
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/css/_theme.default.css.map",
        "ctime": "2019-06-23T03:33:04.585Z",
        "mtime": "2018-12-12T15:24:37.000Z",
        "size": 663
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/img/ajax-loader.gif",
        "ctime": "2019-06-23T03:33:04.733Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 3208
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/img/owl.video.play.png",
        "ctime": "2019-06-23T03:33:04.733Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 4976
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/js/.jscsrc",
        "ctime": "2019-06-23T03:33:04.714Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 1611
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/js/.jshintrc",
        "ctime": "2019-06-23T03:33:04.717Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 258
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/js/owl.animate.js",
        "ctime": "2019-06-23T03:33:04.721Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 3008
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/js/owl.autoheight.js",
        "ctime": "2019-06-23T03:33:04.719Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 3332
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/js/owl.autoplay.js",
        "ctime": "2019-06-23T03:33:04.720Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 5661
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/js/owl.autorefresh.js",
        "ctime": "2019-06-23T03:33:04.720Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 2330
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/js/owl.carousel.js",
        "ctime": "2019-06-23T03:33:04.717Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 46481
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/js/owl.hash.js",
        "ctime": "2019-06-23T03:33:04.723Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 2834
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/js/owl.lazyload.js",
        "ctime": "2019-06-23T03:33:04.722Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 4095
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/js/owl.navigation.js",
        "ctime": "2019-06-23T03:33:04.718Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 11178
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/js/owl.support.js",
        "ctime": "2019-06-23T03:33:04.720Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 2012
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/js/owl.support.modernizr.js",
        "ctime": "2019-06-23T03:33:04.716Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 2125
      },
      {
        "file": "assets/OwlCarousel2-2.3.4/src/js/owl.video.js",
        "ctime": "2019-06-23T03:33:04.715Z",
        "mtime": "2018-04-20T13:22:10.000Z",
        "size": 8885
      },
      {
        "file": "assets/slick-1.8.1/slick/fonts/slick.eot",
        "ctime": "2019-06-23T03:33:04.757Z",
        "mtime": "2017-10-03T17:49:29.000Z",
        "size": 2048
      },
      {
        "file": "assets/slick-1.8.1/slick/fonts/slick.svg",
        "ctime": "2019-06-23T03:33:04.755Z",
        "mtime": "2017-10-03T17:49:29.000Z",
        "size": 2152
      },
      {
        "file": "assets/slick-1.8.1/slick/fonts/slick.ttf",
        "ctime": "2019-06-23T03:33:04.756Z",
        "mtime": "2017-10-03T17:49:29.000Z",
        "size": 1892
      },
      {
        "file": "assets/slick-1.8.1/slick/fonts/slick.woff",
        "ctime": "2019-06-23T03:33:04.755Z",
        "mtime": "2017-10-03T17:49:29.000Z",
        "size": 1380
      },
      {
        "file": "footer.php",
        "ctime": "2019-06-23T03:32:24.241Z",
        "mtime": "2019-06-23T03:32:24.240Z",
        "size": 26
      },
      {
        "file": "header.php",
        "ctime": "2019-06-23T03:31:41.149Z",
        "mtime": "2019-06-23T03:31:41.148Z",
        "size": 1431
      },
      {
        "file": "index.php",
        "ctime": "2019-06-23T03:32:24.237Z",
        "mtime": "2019-06-23T03:32:24.237Z",
        "size": 62
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}